# Importing Libraries

In [ ]:
# Importing the libraries we will need 

# Importing the pandas library

import pandas as pd

# Importing the numpy library

import numpy as np

# Loading Datasets

In [ ]:
#Reading the dataset from csv and creating the dataframe to use
df1 = pd.read_csv('Autolib_dataset (2).csv')

# Previewing our Dataset

In [ ]:
df1.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

# Accessing information about the Dataset

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Cleaning the Dataset

In [ ]:
#Duplicates Data Observation in columns Cars and Bluecar counter
#Dropping the unwanted column as shown below
df1= df1.drop(columns = ['Cars'])
df1

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 24 columns]

In [ ]:
# Dropping irrelevant columns in this case Scheduled at and Displayed comment columns as they are not needed
#
df2= df1.drop(columns=["Scheduled at", "Displayed comment"])
df2

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 22 columns]

In [ ]:
#changing the datatype of columns year, month,day into the right datatype
#from int64 datatype to datetime datatype and combining the columns
#into one new column called DateTime
df2['DateTime'] = pd.to_datetime(df2[['year','month','day', 'hour', 'minute']])
df2.head()

                              Address  ...            DateTime
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 23 columns]

In [ ]:
from pandas._libs.algos import diff_2d
#Now drop the columns year, month, day, hour, minute as they are irrelevant 
#since they're merged into one column
df2= df2.drop(columns= ['year','month','day','hour','minute'])
df2

                                 Address  ...            DateTime
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
...                                  ...  ...                 ...
4995                 8 avenue MÃ©nelotte  ... 2018-04-06 11:26:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay  ... 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[5000 rows x 18 columns]

In [ ]:
#checking the dataset info to see if the wrong datatypes are now 
#in the right datatypes
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Bluecar counter      5000 non-null   int64
 2   Utilib counter       5000 non-null   int64
 3   Utilib 1.4 counter   5000 non-null   int64
 4   Charge Slots         5000 non-null   int64
 5   Charging Status      5000 non-null   object
 6   City                 5000 non-null   object
 7   ID                   5000 non-null   object
 8   Kind                 5000 non-null   object
 9   Geo point            5000 non-null   object
 10  Postal code          5000 non-null   int64
 11  Public name          5000 non-null   object
 12  Rental status        5000 non-null   object
 13  Slots                5000 non-null   int64
 14  Station type         5000 non-null   object
 15  Status               5000 non-null   object
 16  Subscription status  5000 non-null   object
 17  DateTime             5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(6), object(11)
memory usage: 703.2+ KB

In [ ]:
df2.shape

(5000, 18)

In [ ]:
# Checking if there are missing values in the dataset after cleaning
df2.isnull()

#The dataset did not display any missing values as shown below as all columns
#read false

      Address  Bluecar counter  ...  Subscription status  DateTime
0       False            False  ...                False     False
1       False            False  ...                False     False
2       False            False  ...                False     False
3       False            False  ...                False     False
4       False            False  ...                False     False
...       ...              ...  ...                  ...       ...
4995    False            False  ...                False     False
4996    False            False  ...                False     False
4997    False            False  ...                False     False
4998    False            False  ...                False     False
4999    False            False  ...                False     False

[5000 rows x 18 columns]

In [ ]:
df2.head()

                              Address  ...            DateTime
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 18 columns]

In [22]:
#change column names in blue car counter and public name columns for analysis purposes
df2=df2.rename(columns= {'Bluecar counter': 'Bluecar', 'Public name' : 'Station'})
df2.head()

                              Address  ...            DateTime
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 18 columns]

# Analysis

## Research Question

## Bonus Questions

In [ ]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
Paris = df2[(df2['City']== 'Paris') & (df2['Rental status'] == 'operational')]
df2.groupby('DateTime')['Bluecar'].value_counts().sort_values(ascending= True).head()

In [ ]:
#What is the most popular hour for returning cars?
df2.grouby('DateTime')['Slots'].sum().sort_values((ascending= True).head()

In [ ]:
#What station is the most popular?