# Insights for the MTN Cote-D'ivore project

In [ ]:
#The following Datasets were provided by MTN for analysis and to give them solutions 

#cells_geo_description.xlsx [https://drive.google.com/a/moringaschool.com/file/d/1-rIM5ihDu79RaH7rAs-d-7SQSAQhrY9N/view?usp=sharing]
# cells_geo.csv [https://drive.google.com/a/moringaschool.com/file/d/1ABZux280OjL3yWcOn8BDA_f5QsyO0QPU/view?usp=sharing]
# CDR_description.xlsx [https://drive.google.com/open?id=1cVoNXl25IO5-_yQk97ThdeqhE6yw8YTD]
# CDR 20120507 [http://bit.ly/TelecomDataset1]
# CDR 20120508 [http://bit.ly/TelecomDataset2]
# CDR 20120509 [http://bit.ly/TelecomDataset3]

# Importing the libraries to be used

In [ ]:
#importing numpy
import numpy as np

#importing pandas 
import pandas as pd

# Loading our Datasets

In [ ]:
#loading the cells geo dataset
#
df_01=pd.read_csv('cells_geo.csv')
df_01.tail()

     ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
3969  3969;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3970  3970;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3971  3971;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3972  3972;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3973  3973;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...

In [ ]:
##To load the third dataset and preview
#Skipped row 0 which has headers. 
#Renamed columns for ease of understanding 

url ='/content/Telcom_dataset.csv'
df_02 = pd.read_csv(url,header =0, names = ['Product','Value','Date_Time','Cell_On_Site','Party_A_Number','Party_B_Number','Country_A','Country_B','Cell_ID','Site_ID'])
df_02.head()

  Product  Value Date_Time  ... Country_B     Cell_ID     Site_ID
0   Voice      0   04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0   05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25   05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56   05:42.0  ...     19e2e      #NAME?      #NAME?
4   Voice     14   06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [ ]:
#To load the third dataset and preview
#Skipped row 0 which has headers. 
#Renamed columns for ease of understanding 

url = '/content/Telcom_dataset2.csv'
df_03 = pd.read_csv(url,header =1, names = ['Product','Value','Date_Time','Cell_On_Site','Party_A_Number','Party_B_Number','Country_A','Country_B','Cell_ID','Site_ID'])
df_03.head()

  Product  Value Date_Time  ... Country_B     Cell_ID     Site_ID
0   Voice      0   03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1     sms      0   04:06.0  ...     19e2e      #NAME?      #NAME?
2   Voice     37   04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
3     sms     25   04:58.0  ...     19e2e      #NAME?      #NAME?
4     sms      0   05:41.0  ...     19e2e  /MMplBlWjh  /MMplBlWjh

[5 rows x 10 columns]

In [ ]:
#loading the fourth dataset
url = '/content/Telcom_dataset3.csv'
df_04 = pd.read_csv(url,header =1, names = ['Product','Value','Date_Time','Cell_On_Site','Party_A_Number','Party_B_Number','Country_A','Country_B','Cell_ID','Site_ID'])
df_04.head()

  Product  Value Date_Time  ... Country_B     Cell_ID     Site_ID
0     sms      0   01:31.0  ...     19e2e      #NAME?      #NAME?
1   Voice     10   02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
2     sms      0   03:04.0  ...     19e2e      #NAME?      #NAME?
3   Voice     22   03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
4   Voice     10   03:59.0  ...     19e2e      #NAME?      #NAME?

[5 rows x 10 columns]

In [ ]:
#loading the fifth dataset
df_05 = pd.read_excel('cells_geo_description.xlsx')
df_05

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [ ]:
#loading the sixth dataset

df_06 = pd.read_excel('CDR_description.xlsx')
df_06

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

# Data Cleaning

##Concatenate the provided datasets

In [ ]:
# combining the three datasets using concatenation

df_cdr = pd.concat([df_02,df_03,df_04], axis=0)
df_cdr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15001 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product         15001 non-null  object
 1   Value           15001 non-null  int64
 2   Date_Time       15001 non-null  object
 3   Cell_On_Site    15001 non-null  object
 4   Party_A_Number  15001 non-null  object
 5   Party_B_Number  15001 non-null  object
 6   Country_A       15001 non-null  object
 7   Country_B       15001 non-null  object
 8   Cell_ID         15001 non-null  object
 9   Site_ID         13004 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.3+ MB

##Dropping unnecessary columns

In [ ]:
#Dropping unnecessary columns 

df_cdr.drop(['Country_A', 'Country_B'], axis=1)

     Product  Value Date_Time  ...   Party_B_Number     Cell_ID     Site_ID
0      Voice      0   04:37.0  ...  1a49f8b0ded9de6  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0   05:25.0  ...  93343ba6e41af95  /+cKZKIp41  /+cKZKIp41
2        sms     25   05:41.0  ...  7aacc9709ce0a20  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56   05:42.0  ...  6af4a60e74c91d3      #NAME?      #NAME?
4      Voice     14   06:29.0  ...  02aa736ee555d5c  051KhYDCpv  051KhYDCpv
...      ...    ...       ...  ...              ...         ...         ...
4995   Voice      0   01:43.0  ...  0ab2acd804d01fe  2aa04dcab7  f7d63a29e5
4996   Voice     62   01:43.0  ...  4c8098eb6ea1a41  7f1f2f889f  b4ddb9e93c
4997   Voice     32   01:43.0  ...  9d064f013e2cab2  a4731e780e  d68260ef50
4998   Voice     30   01:43.0  ...  f9ff5af59cf0d68  98ed726da2  b4130b54ab
4999   Voice     60   01:43.0  ...  7e60838216482a7  1c11a2fcbb  6d70dae094

[15001 rows x 8 columns]

##Dropping Duplicates

In [ ]:
#Drop duplicates
df_cdr = df_cdr.drop_duplicates()
df_cdr.info

<bound method DataFrame.info of      Product  Value Date_Time  ... Country_B     Cell_ID     Site_ID
0      Voice      0   04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0   05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25   05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56   05:42.0  ...     19e2e      #NAME?      #NAME?
4      Voice     14   06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...       ...  ...       ...         ...         ...
4994   Voice     10   01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
4995   Voice      0   01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4996   Voice     62   01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     30   01:43.0  ...     19e2e  98ed726da2  b4130b54ab
4999   Voice     60   01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[14674 rows x 10 columns]>

# Task 1

In [ ]:
#Which ones were the most used city for the three days?
#The output will be advised by the largest number of calls per city

df_cdr.groupby('Cell_ID').count().nlargest(10,'Product')

            Product  Value  Date_Time  ...  Country_A  Country_B  Site_ID
Cell_ID                                ...
ffa6759bb2     1900   1900       1900  ...       1900       1900        0
#NAME?           91     91         91  ...         91         91       91
cc7ce19d6b       65     65         65  ...         65         65       65
03ee801971       64     64         64  ...         64         64       64
b78724d6fc       42     42         42  ...         42         42       42
d22224b2fa       40     40         40  ...         40         40       40
f54e480df9       40     40         40  ...         40         40       40
cd828df0e4       39     39         39  ...         39         39       39
e5e1285933       39     39         39  ...         39         39       39
613afb4ef6       38     38         38  ...         38         38       38

[10 rows x 9 columns]

In [ ]:
#What we the most used products?

df_cdr.groupby('Product')['Value'].sum()

Product
Voice    306655
data      17285
sms       52352
Name: Value, dtype: int64

In [ ]:
#What would be termed as the busiest time of day?
df_cdr.groupby('Date_Time')['Value'].sum()

Date_Time
00:00.0     951
00:01.0    3773
00:02.0    1650
00:03.0    6462
00:04.0    2585
           ...
59:54.0     130
59:55.0       0
59:56.0      29
59:57.0       0
59:58.0      31
Name: Value, Length: 1582, dtype: int64